* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-row {
  width: 100%;
  height: 60px;
  background-color: darkgray;
}
.center-1 {
  width: 550px;
  background-color: darkgrey;
  height: 60px;
  margin: 60px auto;
}
.container-2 {
  height: 100vh;
  display: flex;
  gap: 15px;
}
.box {
  width: 700px;
  height: 641px;
  background-color: darkgray;
}
.center-2 {
  width: 590px;
  background-color: darkgrey;
  height: 60px;
  margin: 60px auto;
}
.container-3 {
  padding: 0 62px;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.box-2 {
  background-color: darkgray;
}
.center-3 {
  width: 610px;
  background-color: darkgray;
  height: 60px;
  margin: 60px auto;
}
.container-main {
  height: 100vh;
  background-color: darkgray;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.container-4 {
  background-color: #ffff;
  width: 330px;
  height: 570px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.box-3 {
  width: 285px;
  height: 40px;
  background-color: darkgray;
}
.box3 {
  width: 285px;
  height: 200px;
  background-color: darkgray;
}
.center-4 {
  width: 300px;
  background-color: darkgray;
  height: 60px;
  margin: 60px auto;
  margin-bottom: 37px;
}
.container-5 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.box-4 {
  width: 680px;
  height: 70px;
  background-color: darkgray;
}
.box4 {
  width: 680px;
  height: 300px;
  background-color: darkgray;
}
.boxs {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.item {
  width: 325px;
  height: 65px;
  background-color: darkgrey;
  margin-bottom: 40px;
}
.container-6 {
  background-color: darkgrey;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  /* justify-content: space-between; */
}
.box-6 {
  background-color: #ffff;
  width: 630px;
  height: 250px;
}
